<div class="conversion-item-container">
    <div class="conversion-item">
      <div>
        <p>{{exchanges.exchangeId}}</p>
      </div>
      <div>
        <p>{{exchanges.originalCoin}}</p>
      </div>
      <div>
        <p>{{exchanges.finalCoin}}</p>
      </div>
      <div>
        <p>{{exchanges.date}}</p>
      </div>
      <div>
        <p>{{exchanges.originalAmount}}</p>
      </div>
      <div>
        <p>{{ exchanges.finalAmount.toString().slice(0, 7) }}</p>
      </div>
    </div>
  </div>

 
