#container-principal{
    background-color:  #253B6E;
    margin : 10px;
    display: flex;
    height: 50px;
    border: 2px solid #d4d3d3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #d4d3d3;
    align-items: center;
  
    &:hover{
      box-shadow: 0px 0px 10px 0px #000000;
    }
  }
  
  #contador{
    margin : auto;
    display: flex;
    height: 50px;
    width: 20px;
    align-items: center;
  }
  
  p{
    margin: auto;
    color: #ffffff;
    font-size: 20px;
    width: 15%;
  }
  
  img{
    margin: auto;
    height: 80%;
  
  
  }
  
  .img-editanddelete{
   &:hover{
      cursor: pointer;  }
  }