@use "../../../assets/styles/variables.scss";
@use "../../../assets/styles/forms.scss";
body{
    height: 100vh;
  }
  
  #container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  #container img{
    width: 200px;
    margin-bottom: 20px;
  
  }
  
  #inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 10px ;
    position: relative;
  }
  
  #inputs div{
      margin: 20px ;
    display: flex;
    position: relative;
    width: 100%;
  }
  
  #inputs input,select{
    width: 100%;
    height: 36px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
    color:#706c6c ;
    margin: 10px;
  
    &:focus{
      border: 2px solid rgba(26,115,232);
      outline: none;
    }
  }
  
  #inputs label{
    font-size: 18px;
    position: absolute;
    bottom: 13px;
    left: 10px;
    cursor: pointer;
    color: rgba(0,0,0,0.4);
    transition: transform 0.2s;
  }
  
  input:focus+label,
  input:not(:placeholder-shown)+label{
    transform: translateY(-20px);
    background: white;
    font-size: 14px;
    color: rgba(26,115,232);
  }
  
  input:not(:focus)+label{
      color: rgba(0,0,0,0.4);
  }
  
  .boton{
    width: 211px;
    height: 44px;
    background-color: #253B6E;
    color: white;
    border-radius: 5px;
    margin: auto;
  }
  
  .boton-headear{
    width: 105px;
    height: 22px;
    background-color: #253B6E;
    color: white;
    border-radius: 5px;
    margin: 10px;
  
  }
  
  a{
    text-decoration: none;
    color: #050505;
    font-size: 14px;
    font-weight: 500;
    transition: color 0.2s;
  }
  
  p{
    margin: auto;
    color: #0a0a0a;
    font-size: 40px;
  }
  
  
  
  
  .error{
    color: red;
    font-size: 14px;
  }
  
  p{
    margin: auto;
    color: #0a0a0a;
    font-size: 20px;
  }
  
  #contenedor-assets{
    height: 5vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
  }
  
  
  .img-convertir{
      width: 50px;
      margin: 5px;
      &:hover{
      cursor: pointer;
    }
    }
    