<div id="containerforall">

    <div id="container">
        <div id="admin-home">
            <img src="../../../assets/img/Admin.png" alt="">
      <h2>Admin Home</h2>
    </div>
    
    <div id="container-options">
        <button class="options" [routerLink]="'/exchange'"><img
            src="../../../assets/img/conversor_de_moneda.png"
            alt="">Convertir</button>
            
            <button class="options" [routerLink]="'/history'"><img
                src="../../../assets/img/historial.png"
            alt="">Historial</button>
            
            <button class="options" [routerLink]="'/coinsmenu'"><img
                src="../../../assets/img/monedas.png"
          alt="">Monedas</button>
  
      <button class="options" [routerLink]="'/usersmenu'"><img
        src="../../../assets/img/usuarios.png"
        alt="">Usuarios</button>
        
    </div>
</div>
