$color-principal-50:#e8eafc;
$color-principal-100:#c4cbf7;
$color-principal-200:#9ba9f1;
$color-principal-300:#6e88ec;
$color-principal-400:#476ce8;
$color-principal-500:#0051e2;
$color-principal-600:#0048d7;
$color-principal-700:#003ecb;
$color-principal-800:#0033c0;
$color-principal-900:#001dae;

$color-acento-50:#fbf6e0;
$color-acento-100:#f6e7b1;
$color-acento-200:#efd77f;
$color-acento-300:#eac94c;
$color-acento-400:#e6bc28;
$color-acento-500:#e3b10d;
$color-acento-600:#e3a504;
$color-acento-700:#e29300;
$color-acento-800:#e18300;
$color-acento-900:#e06600;


$color-error: rgb(236, 21, 6);

$color-texto: black;
$color-texto-invertido:white;